<%
var data  = "test3";
%>
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="ja">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ja">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="ja">
<!--<![endif]-->
<%- include('../layout/_head') -%>
<body>
  <header>
    <h1>Header1</h1>
  </header>
  <main>
    <% for (var i in test) { %>
      <div class="test"><%- test[i].name %></div>
    <% } %>
  </main>
  <%- include('../layout/_footer') -%>

  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>